.glft filter=lfs diff=lfs merge=lfs -text
*.glft filter=lfs diff=lfs merge=lfs -text
public filter=lfs diff=lfs merge=lfs -text
scene.glft filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
